@import "../../node_modules/nord/src/sass/nord.scss";

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&family=Shrikhand:wght@400;600&display=swap');

$base-heading-font-family: 'Shrikhand', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$logo-font-family: $base-heading-font-family;
$global-font-family: 'Exo', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$global-font-size: 16px;
$heading-large-font-size-l: 5rem;

$global-background: $nord0;
$global-primary-background: $nord4;
$global-secondary-background: $nord7;

$global-border: $nord6;
$global-color: $nord4;
$global-emphasis-color: $nord5;

$global-danger-background: $nord11;
$global-success-background: $nord14;
$global-warning-background: $nord12;

$global-link-color: $nord10;
$global-link-hover-color: $nord9;

$global-muted-background: $nord3;
$global-muted-color: $nord3;

$logo-color: $nord7;

$navbar-nav-item-color: $nord7;

$navbar-background: $global-muted-background;
$navbar-item-color: red;
$navbar-nav-item-active-color: $global-emphasis-color;
$navbar-nav-item-hover-color: $global-color;
$navbar-nav-item-onclick-color: $global-emphasis-color;
$navbar-toggle-color: $global-muted-color;
$navbar-toggle-hover-color: $global-color;

$base-heading-color: $nord4;

//$navbar-dropdown-background: $global-background;
//$navbar-dropdown-color: $global-color;
//$navbar-dropdown-nav-divider-border: $global-border;
//$navbar-dropdown-nav-header-color: $global-emphasis-color;
//$navbar-dropdown-nav-item-active-color: $global-emphasis-color;
//$navbar-dropdown-nav-item-color: $global-muted-color;
//$navbar-dropdown-nav-item-hover-color: $global-color;
//$navbar-dropdown-nav-sublist-item-active-color: $global-emphasis-color;
//$navbar-dropdown-nav-sublist-item-color: $global-muted-color;
//$navbar-dropdown-nav-sublist-item-hover-color: $global-color;

//$base-blockquote-color: $global-emphasis-color;
//$base-blockquote-footer-color: $global-color;
//$base-body-background: $global-background;
//$base-body-color: $global-color;
//$base-body-font-family: $global-font-family;
//$base-body-font-size: $global-font-size;
//$base-body-font-weight: normal;
//$base-code-background: $global-muted-background;
//$base-code-color: $global-danger-background;
//$base-em-color: $global-danger-background;
//$base-focus-outline: $global-emphasis-color;
//$base-hr-border: $global-border;
//$base-ins-background: #ffd;
//$base-ins-color: $global-color;
//$base-link-color: $global-link-color;
//$base-link-hover-color: $global-link-hover-color;
//$base-mark-background: #ffd;
//$base-mark-color: $global-color;
//$base-pre-background: $global-background;
//$base-pre-border: $global-border;
//$base-pre-color: $global-color;
//$base-selection-background: #39f;
//$base-selection-color: $global-inverse-color;

//$accordion-icon-color: $global-color;
//$article-meta-link-color: $article-meta-color;
//$article-meta-link-hover-color: $global-color;
//$box-shadow-bottom-background: #444;
//$breadcrumb-divider-color: $global-muted-color;
//$breadcrumb-item-active-color: $global-color;
//$breadcrumb-item-color: $global-muted-color;
//$breadcrumb-item-hover-color: $global-color;
//$button-danger-active-background: darken($button-danger-background, 10%);
//$button-danger-active-color: $global-inverse-color;
//$button-danger-background: $global-danger-background;
//$button-danger-color: $global-inverse-color;
//$button-danger-hover-background: darken($button-danger-background, 5%);
//$button-danger-hover-color: $global-inverse-color;
//$button-default-active-background: transparent;
//$button-default-active-border: darken($global-border, 30%);
//$button-default-active-color: $global-emphasis-color;
//$button-default-border: $global-border;
//$button-default-color: $global-emphasis-color;
//$button-default-hover-background: transparent;
//$button-default-hover-border: darken($global-border, 20%);
//$button-default-hover-color: $global-emphasis-color;
//$button-disabled-background: transparent;
//$button-disabled-border: $global-border;
//$button-disabled-color: $global-muted-color;
//$button-link-color: $global-emphasis-color;
//$button-link-disabled-color: $global-muted-color;
//$button-link-hover-color: $global-muted-color;
//$button-link-hover-text-decoration: none;
//$button-primary-active-background: darken($button-primary-background, 10%);
//$button-primary-active-color: $global-inverse-color;
//$button-primary-background: $global-primary-background;
//$button-primary-color: $global-inverse-color;
//$button-primary-hover-background: darken($button-primary-background, 5%);
//$button-primary-hover-color: $global-inverse-color;
//$button-secondary-active-background: darken($button-secondary-background, 10%);
//$button-secondary-active-color: $global-inverse-color;
//$button-secondary-background: $global-secondary-background;
//$button-secondary-color: $global-inverse-color;
//$button-secondary-hover-background: darken($button-secondary-background, 5%);
//$button-secondary-hover-color: $global-inverse-color;
//$button-text-color: $global-emphasis-color;
//$button-text-disabled-color: $global-muted-color;
//$button-text-hover-color: $global-emphasis-color;
//$card-badge-background: $global-primary-background;
//$card-badge-color: $global-inverse-color;
//$card-default-background: $global-background;
//$card-default-color-mode: dark;
//$card-default-color: $global-color;
//$card-default-footer-border: $global-border;
//$card-default-header-border: $global-border;
//$card-default-hover-background: $card-default-background;
//$card-default-title-color: $global-emphasis-color;
//$card-hover-background: $global-background;
//$card-primary-background: $global-primary-background;
//$card-primary-color-mode: light;
//$card-primary-color: $global-inverse-color;
//$card-primary-hover-background: $card-primary-background;
//$card-primary-title-color: $card-primary-color;
//$card-secondary-background: $global-secondary-background;
//$card-secondary-color-mode: light;
//$card-secondary-color: $global-inverse-color;
//$card-secondary-hover-background: $card-secondary-background;
//$card-secondary-title-color: $card-secondary-color;
//$close-color: $global-muted-color;
//$close-hover-color: $global-color;
//$column-divider-rule-color: $global-border;
//$comment-meta-color: $global-muted-color;
//$comment-primary-background: $global-muted-background;
//$description-list-divider-term-border: $global-border;
//$description-list-term-color: $global-emphasis-color;
//$dotnav-item-border: rgba($global-color, 0.4);
//$dragover-box-shadow: 0 0 20px rgba(100,100,100,0.3);
//$dropbar-background: $global-background;
//$dropbar-color-mode: dark;
//$dropbar-color: $global-color;
//$dropbar-focus-outline: $base-focus-outline;
//$dropdown-background: $global-background;
//$dropdown-color-mode: dark;
//$dropdown-color: $global-color;
//$dropdown-focus-outline: $base-focus-outline;
//$dropdown-nav-divider-border: $global-border;
//$dropdown-nav-header-color: $global-emphasis-color;
//$dropdown-nav-item-color: $global-muted-color;
//$dropdown-nav-item-hover-color: $global-color;
//$dropdown-nav-sublist-item-color: $global-muted-color;
//$dropdown-nav-sublist-item-hover-color: $global-color;
//$dropnav-dropbar-z-index: $global-z-index - 20;
//$form-background: $global-background;
//$form-blank-focus-border: $global-border;
//$form-border: $global-border;
//$form-color: $global-color;
//$form-danger-border: $global-danger-background;
//$form-danger-color: $global-danger-background;
//$form-datalist-icon-color: $global-color;
//$form-disabled-background: $global-muted-background;
//$form-disabled-border: $global-border;
//$form-disabled-color: $global-muted-color;
//$form-focus-background: $global-background;
//$form-focus-border: $global-primary-background;
//$form-focus-color: $global-color;
//$form-icon-color: $global-muted-color;
//$form-icon-hover-color: $global-color;
//$form-label-color: $global-emphasis-color;
//$form-placeholder-color: $global-muted-color;
//$form-radio-background: transparent;
//$form-radio-border: darken($global-border, 10%);
//$form-radio-checked-background: $global-primary-background;
//$form-radio-checked-focus-background: darken($global-primary-background, 10%);
//$form-radio-checked-icon-color: $global-inverse-color;
//$form-radio-disabled-background: $global-muted-background;
//$form-radio-disabled-border: $global-border;
//$form-radio-disabled-icon-color: $global-muted-color;
//$form-radio-focus-background: darken($form-radio-background, 5%);
//$form-radio-focus-border: $global-primary-background;
//$form-range-thumb-background: $global-background;
//$form-range-thumb-border: darken($global-border, 10%);
//$form-range-track-background: darken($global-muted-background, 5%);
//$form-range-track-border-radius: 500px;
//$form-select-disabled-icon-color: $global-muted-color;
//$form-select-icon-color: $global-color;
//$form-select-option-color: $global-color;
//$form-success-border: $global-success-background;
//$form-success-color: $global-success-background;
//$grid-divider-border: $global-border;
//$heading-bullet-border: $global-border;
//$heading-divider-border: $global-border;
//$heading-line-border: $global-border;
//$icon-button-active-background: darken($icon-button-background, 10%);
//$icon-button-active-color: $global-color;
//$icon-button-background: $global-muted-background;
//$icon-button-color: $global-muted-color;
//$icon-button-hover-background: darken($icon-button-background, 5%);
//$icon-button-hover-color: $global-color;
//$icon-link-active-color: darken($global-color, 5%);
//$icon-link-color: $global-muted-color;
//$icon-link-hover-color: $global-color;
//$iconnav-item-active-color: $global-color;
//$iconnav-item-color: $global-muted-color;
//$iconnav-item-hover-color: $global-color;
//$internal-text-background-color-gradient: linear-gradient(90deg, $text-background-color 0%, adjust-hue($text-background-color, 40) 100%);
//$inverse-base-blockquote-color: $inverse-global-emphasis-color;
//$inverse-base-code-color: $inverse-global-color;
//$inverse-base-color: $inverse-global-color;
//$inverse-base-em-color: $inverse-global-emphasis-color;
//$inverse-base-focus-outline: $inverse-global-emphasis-color;
//$inverse-base-heading-color: $inverse-global-emphasis-color;
//$inverse-base-hr-border: $inverse-global-border;
//$inverse-base-link-color: $inverse-global-emphasis-color;
//$inverse-base-link-hover-color: $inverse-global-emphasis-color;
//$inverse-breadcrumb-divider-color: $inverse-global-muted-color;
//$inverse-breadcrumb-item-active-color: $inverse-global-color;
//$inverse-breadcrumb-item-color: $inverse-global-muted-color;
//$inverse-breadcrumb-item-hover-color: $inverse-global-color;
//$inverse-button-default-active-background: transparent;
//$inverse-button-default-active-color: $inverse-global-emphasis-color;
//$inverse-button-default-background: transparent;
//$inverse-button-default-color: $inverse-global-emphasis-color;
//$inverse-button-default-hover-background: transparent;
//$inverse-button-default-hover-color: $inverse-global-emphasis-color;
//$inverse-button-link-color: $inverse-global-emphasis-color;
//$inverse-button-link-hover-color: $inverse-global-muted-color;
//$inverse-button-primary-active-background: darken($inverse-button-primary-background, 10%);
//$inverse-button-primary-active-color: $inverse-global-inverse-color;
//$inverse-button-primary-background: $inverse-global-primary-background;
//$inverse-button-primary-color: $inverse-global-inverse-color;
//$inverse-button-primary-hover-background: darken($inverse-button-primary-background, 5%);
//$inverse-button-primary-hover-color: $inverse-global-inverse-color;
//$inverse-button-secondary-active-background: darken($inverse-button-secondary-background, 10%);
//$inverse-button-secondary-active-color: $inverse-global-inverse-color;
//$inverse-button-secondary-background: $inverse-global-primary-background;
//$inverse-button-secondary-color: $inverse-global-inverse-color;
//$inverse-button-secondary-hover-background: darken($inverse-button-secondary-background, 5%);
//$inverse-button-secondary-hover-color: $inverse-global-inverse-color;
//$inverse-button-text-color: $inverse-global-emphasis-color;
//$inverse-button-text-disabled-color: $inverse-global-muted-color;
//$inverse-button-text-hover-color: $inverse-global-emphasis-color;
//$inverse-card-badge-background: $inverse-global-primary-background;
//$inverse-card-badge-color: $inverse-global-inverse-color;
//$inverse-close-color: $inverse-global-muted-color;
//$inverse-close-hover-color: $inverse-global-color;
//$inverse-form-background: $inverse-global-muted-background;
//$inverse-form-color: $inverse-global-color;
//$inverse-form-datalist-icon-color: $inverse-global-color;
//$inverse-form-focus-background: fade-in($inverse-form-background, 0.05);
//$inverse-form-focus-color: $inverse-global-color;
//$inverse-form-icon-color: $inverse-global-muted-color;
//$inverse-form-icon-hover-color: $inverse-global-color;
//$inverse-form-label-color: $inverse-global-emphasis-color;
//$inverse-form-placeholder-color: $inverse-global-muted-color;
//$inverse-form-radio-background: $inverse-global-muted-background;
//$inverse-form-radio-checked-background: $inverse-global-primary-background;
//$inverse-form-radio-checked-focus-background: fade-in($inverse-global-primary-background, 0.1);
//$inverse-form-radio-checked-icon-color: $inverse-global-inverse-color;
//$inverse-form-radio-focus-background: fade-in($inverse-form-radio-background, 0.05);
//$inverse-form-select-icon-color: $inverse-global-color;
//$inverse-global-border: rgba($global-inverse-color, 0.2);
//$inverse-global-muted-background: rgba($global-inverse-color, 0.1);
//$inverse-grid-divider-border: $inverse-global-border;
//$inverse-label-background: $inverse-global-primary-background;
//$inverse-label-color: $inverse-global-inverse-color;
//$inverse-link-heading-hover-color: $inverse-global-primary-background;
//$inverse-list-emphasis-color: $inverse-global-emphasis-color;
//$inverse-list-primary-color: $inverse-global-primary-background;
//$inverse-list-secondary-color: $inverse-global-primary-background;
//$inverse-logo-color: $inverse-global-emphasis-color;
//$inverse-logo-hover-color: $inverse-global-emphasis-color;
//$inverse-marker-background: $global-muted-background;
//$inverse-marker-color: $global-color;
//$inverse-marker-hover-color: $global-color;
//$inverse-nav-default-header-color: $inverse-global-emphasis-color;
//$inverse-nav-default-item-active-color: $inverse-global-emphasis-color;
//$inverse-nav-default-sublist-item-active-color: $inverse-global-emphasis-color;
//$inverse-nav-primary-header-color: $inverse-global-emphasis-color;
//$inverse-nav-primary-item-active-color: $inverse-global-emphasis-color;
//$inverse-nav-primary-sublist-item-active-color: $inverse-global-emphasis-color;
//$inverse-nav-secondary-header-color: $inverse-global-emphasis-color;
//$inverse-nav-secondary-item-active-color: $inverse-global-emphasis-color;
//$inverse-nav-secondary-item-color: $inverse-global-emphasis-color;
//$inverse-nav-secondary-item-hover-color: $inverse-global-emphasis-color;
//$inverse-nav-secondary-sublist-item-active-color: $inverse-global-emphasis-color;
//$inverse-nav-secondary-subtitle-active-color: $inverse-global-emphasis-color;
//$inverse-navbar-nav-item-active-color: $inverse-global-emphasis-color;
//$inverse-navbar-nav-item-onclick-color: $inverse-global-emphasis-color;
//$inverse-subnav-item-active-color: $inverse-global-emphasis-color;
//$inverse-subnav-pill-item-active-background: $inverse-global-primary-background;
//$inverse-subnav-pill-item-active-color: $inverse-global-inverse-color;
//$inverse-tab-item-active-color: $inverse-global-emphasis-color;
//$inverse-text-emphasis-color: $inverse-global-emphasis-color;
//$inverse-text-primary-color: $inverse-global-primary-background;
//$inverse-text-secondary-color: $inverse-global-primary-background;
//$inverse-totop-active-color: $inverse-global-emphasis-color;
//$label-background: $global-primary-background;
//$label-color: $global-inverse-color;
//$label-danger-background: $global-danger-background;
//$label-danger-color: $global-inverse-color;
//$label-success-background: $global-success-background;
//$label-success-color: $global-inverse-color;
//$label-warning-background: $global-warning-background;
//$label-warning-color: $global-inverse-color;
//$lightbox-background: #000;
//$lightbox-button-background: $lightbox-toolbar-background;
//$lightbox-button-color: rgba(255,255,255,0.7);
//$lightbox-button-hover-color: #fff;
//$lightbox-focus-outline: rgba(255,255,255,0.7);
//$lightbox-item-color: rgba(255,255,255,0.7);
//$lightbox-toolbar-background: rgba(0,0,0,0.3);
//$lightbox-toolbar-color: rgba(255,255,255,0.7);
//$lightbox-toolbar-icon-color: rgba(255,255,255,0.7);
//$lightbox-toolbar-icon-hover-color: #fff;
//$link-heading-hover-color: $global-primary-background;
//$link-muted-color: $global-muted-color;
//$link-muted-hover-color: $global-color;
//$link-text-hover-color: $global-muted-color;
//$list-bullet-icon-color: $global-color;
//$list-divider-border: $global-border;
//$list-emphasis-color: $global-emphasis-color;
//$list-muted-color: $global-muted-color;
//$list-primary-color: $global-primary-background;
//$list-secondary-color: $global-secondary-background;
//$list-striped-background: $global-muted-background;
//$list-striped-border: $global-border;
//$logo-color: $global-emphasis-color;
//$logo-hover-color: $global-emphasis-color;
//$marker-background: $global-secondary-background;
//$marker-color: $global-inverse-color;
//$marker-hover-color: $global-inverse-color;
//$modal-background: rgba(0,0,0,0.6);
//$modal-close-full-background: $modal-dialog-background;
//$modal-close-outside-color: lighten($global-inverse-color, 20%);
//$modal-close-outside-hover-color: $global-inverse-color;
//$modal-dialog-background: $global-background;
//$modal-footer-background: $modal-dialog-background;
//$modal-footer-border: $global-border;
//$modal-header-background: $modal-dialog-background;
//$modal-header-border: $global-border;
//$modal-z-index: $global-z-index + 10;
//$nav-default-divider-border: $global-border;
//$nav-default-header-color: $global-emphasis-color;
//$nav-default-item-active-color: $global-emphasis-color;
//$nav-default-item-color: $global-muted-color;
//$nav-default-item-hover-color: $global-color;
//$nav-default-sublist-item-active-color: $global-emphasis-color;
//$nav-default-sublist-item-color: $global-muted-color;
//$nav-default-sublist-item-hover-color: $global-color;
//$nav-dividers-border: $global-border;
//$nav-primary-divider-border: $global-border;
//$nav-primary-header-color: $global-emphasis-color;
//$nav-primary-item-active-color: $global-emphasis-color;
//$nav-primary-item-color: $global-muted-color;
//$nav-primary-item-hover-color: $global-color;
//$nav-primary-sublist-item-active-color: $global-emphasis-color;
//$nav-primary-sublist-item-color: $global-muted-color;
//$nav-primary-sublist-item-hover-color: $global-color;
//$nav-secondary-divider-border: $global-border;
//$nav-secondary-header-color: $global-emphasis-color;
//$nav-secondary-item-active-background: $global-muted-background;
//$nav-secondary-item-active-color: $global-emphasis-color;
//$nav-secondary-item-color: $global-emphasis-color;
//$nav-secondary-item-hover-background: $global-muted-background;
//$nav-secondary-item-hover-color: $global-emphasis-color;
//$nav-secondary-sublist-item-active-color: $global-emphasis-color;
//$nav-secondary-sublist-item-color: $global-muted-color;
//$nav-secondary-sublist-item-hover-color: $global-color;
//$nav-secondary-subtitle-active-color: $global-emphasis-color;
//$nav-secondary-subtitle-color: $global-muted-color;
//$nav-secondary-subtitle-hover-color: $global-color;
//$notification-message-background: $global-muted-background;
//$notification-message-color: $global-color;
//$notification-message-danger-color: $global-danger-background;
//$notification-message-primary-color: $global-primary-background;
//$notification-message-success-color: $global-success-background;
//$notification-message-warning-color: $global-warning-background;
//$offcanvas-overlay-background: rgba(0,0,0,0.1);
//$overlay-default-background: rgba($global-background, 0.8);
//$pagination-item-active-color: $global-color;
//$pagination-item-color: $global-muted-color;
//$pagination-item-disabled-color: $global-muted-color;
//$pagination-item-hover-color: $global-color;
//$panel-scrollable-border: $global-border;
//$placeholder-border: $global-border;
//$progress-background: $global-muted-background;
//$progress-bar-background: $global-primary-background;
//$search-color: $global-color;
//$search-default-border: $global-border;
//$search-default-focus-border: $global-primary-background;
//$search-icon-color: $global-muted-color;
//$search-navbar-background: $global-background;
//$search-navbar-border: $global-border;
//$search-navbar-focus-background: $search-navbar-background;
//$search-navbar-focus-border: $global-primary-background;
//$search-placeholder-color: $global-muted-color;
//$search-toggle-color: $global-muted-color;
//$search-toggle-hover-color: $global-color;
//$section-default-background: $global-background;
//$section-muted-background: $global-muted-background;
//$section-primary-background: $global-primary-background;
//$section-secondary-background: $global-secondary-background;
//$slidenav-active-color: rgba($global-color, 0.5);
//$slidenav-color: rgba($global-color, 0.5);
//$slidenav-hover-color: rgba($global-color, 0.9);
//$subnav-divider-border: $global-border;
//$subnav-item-active-color: $global-emphasis-color;
//$subnav-item-color: $global-muted-color;
//$subnav-item-disabled-color: $global-muted-color;
//$subnav-item-hover-color: $global-color;
//$subnav-pill-item-active-background: $global-primary-background;
//$subnav-pill-item-active-color: $global-inverse-color;
//$subnav-pill-item-color: $subnav-item-color;
//$subnav-pill-item-hover-background: $global-muted-background;
//$subnav-pill-item-hover-color: $global-color;
//$subnav-pill-item-onclick-background: $subnav-pill-item-hover-background;
//$subnav-pill-item-onclick-color: $subnav-pill-item-hover-color;
//$tab-border: $global-border;
//$tab-item-active-border: $global-primary-background;
//$tab-item-active-color: $global-emphasis-color;
//$tab-item-color: $global-muted-color;
//$tab-item-disabled-color: $global-muted-color;
//$tab-item-hover-color: $global-color;
//$table-caption-color: $global-muted-color;
//$table-divider-border: $global-border;
//$table-header-cell-color: $global-muted-color;
//$table-hover-row-background: $table-row-active-background;
//$table-row-active-background: #ffd;
//$table-striped-border: $global-border;
//$table-striped-row-background: $global-muted-background;
//$text-background-color: $global-primary-background;
//$text-danger-color: $global-danger-background;
//$text-emphasis-color: $global-emphasis-color;
//$text-lead-color: $global-emphasis-color;
//$text-meta-color: $global-muted-color;
//$text-meta-link-color: $text-meta-color;
//$text-meta-link-hover-color: $global-color;
//$text-muted-color: $global-muted-color;
//$text-primary-color: $global-primary-background;
//$text-secondary-color: $global-secondary-background;
//$text-success-color: $global-success-background;
//$text-warning-color: $global-warning-background;
//$tile-default-background: $global-background;
//$tile-muted-background: $global-muted-background;
//$tile-primary-background: $global-primary-background;
//$tile-secondary-background: $global-secondary-background;
//$tooltip-background: #666;
//$tooltip-color: $global-inverse-color;
//$totop-active-color: $global-emphasis-color;
//$totop-color: $global-muted-color;
//$totop-hover-color: $global-color;

@import "uikit/src/scss/variables.scss";
@import "uikit/src/scss/mixins.scss";
@import "uikit/src/scss/uikit.scss";
